@font-face {
  font-family: 'GeoSlb712Light';
  src: url('../font/gss45__c-webfont.eot');
  src: url('../font/gss45__c-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/gss45__c-webfont.woff') format('woff'),
       url('../font/gss45__c-webfont.ttf') format('truetype'),
       url('../font/gss45__c-webfont.svg#GeoSlb712LightCBTLightCBT') format('svg');
  font-weight: normal;
  font-style: normal;
  }




@font-face {
  font-family: 'GeoSlb712Medium';
  src: url('../font/gss55__c-webfont.eot');
  src: url('../font/gss55__c-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/gss55__c-webfont.woff') format('woff'),
       url('../font/gss55__c-webfont.ttf') format('truetype'),
       url('../font/gss55__c-webfont.svg#GeoSlb712MediumCBTMediumCBT') format('svg');
  font-weight: normal;
  font-style: normal;
  }

@font-face {
  font-family: 'GeoSlb712Bold';
  src: url('../font/gss75__c-webfont.eot');
  src: url('../font/gss75__c-webfont.eot?#iefix') format('embedded-opentype'),
       url('../font/gss75__c-webfont.woff') format('woff'),
       url('../font/gss75__c-webfont.ttf') format('truetype'),
       url('../font/gss75__c-webfont.svg#GeoSlb712BoldCBTBoldCBT') format('svg');
  font-weight: normal;
  font-style: normal;
  }