/*
 * grid16.css
 * Adapted from Twitter Bootstrap (http://twitter.github.com/bootstrap/)
 */

/* Static grid
 ***************************************************************************************/

/* Container */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 940px;
  }
  .container:before, .container:after {
    display: table;
    content: "";
    }
  .container:after { clear: both;}

/* Row */
.row { margin-left: -20px; }
  .row:before, .row:after {
    display: table;
    content: "";
    }
  .row:after { clear: both;}

/* Spans */
[class*="span"] {
  float: left;
  margin-left: 20px;
  }

.span12 { width: 940px;}
.span11 { width: 860px;}
.span10 { width: 780px;}
.span9 { width: 700px;}
.span8 { width: 620px;}
.span7 { width: 540px;}
.span6 { width: 460px;}
.span5 { width: 380px;}
.span4 { width: 300px;}
.span3 { width: 220px;}
.span2 { width: 140px;}
.span1 { width: 60px;}

/* Offsets */
.offset12 { margin-left: 980px;}
.offset11 { margin-left: 900px;}
.offset10 { margin-left: 820px;}
.offset9 { margin-left: 740px;}
.offset8 { margin-left: 660px;}
.offset7 { margin-left: 580px;}
.offset6 { margin-left: 500px;}
.offset5 { margin-left: 420px;}
.offset4 { margin-left: 340px;}
.offset3 { margin-left: 260px;}
.offset2 { margin-left: 180px;}
.offset1 { margin-left: 100px;}

/* Fluid grid
 ***************************************************************************************/
/* Container */
.container-fluid {
  padding-left: 20px;
  padding-right: 20px;
  }
  .container-fluid:before, .container-fluid:after {
    display: table;
    content: "";
    }
  .container-fluid:after { clear: both;}

/* Row */
.row-fluid { width: 100%;}
  .row-fluid:before, .row-fluid:after {
    display: table;
    content: "";
    }
  .row-fluid:after { clear: both;}

/* Spans  */
.row-fluid > [class*="span"] {
  float: left;
  margin-left: 2.127659574%;
  }
.row-fluid > [class*="span"]:first-child { margin-left: 0;}

.row-fluid > .span12 { width: 99.99999998999999%;}
.row-fluid > .span11 { width: 91.489361693%;}
.row-fluid > .span10 { width: 82.97872339599999%;}
.row-fluid > .span9 { width: 74.468085099%;}
.row-fluid > .span8 { width: 65.95744680199999%;}
.row-fluid > .span7 { width: 57.446808505%;}
.row-fluid > .span6 { width: 48.93617020799999%;}
.row-fluid > .span5 { width: 40.425531911%;}
.row-fluid > .span4 { width: 31.914893614%;}
.row-fluid > .span3 { width: 23.404255317%;}
.row-fluid > .span2 { width: 14.89361702%;}
.row-fluid > .span1 { width: 6.382978723%;}