/*
 * reset.css
 * Adapted from Normalize.css (http://github.com/necolas/normalize.css)
 */

/* HTML5 display definitions
 ***************************************************************************************/

/* Corrects block display not defined in IE6/7/8/9 & FF3 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block;}

/* Corrects inline-block display not defined in IE6/7/8/9 & FF3 */
audio, canvas, video { display: inline-block;}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
audio:not([controls]) { display: none; height: 0;}

/* Base styles
 ***************************************************************************************/

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  }

html, button, input, select, textarea {
  font-family: 'Open Sans', Arial, sans-serif;
  }

body {
  margin: 0;
  min-width: 980px;
  color: #e5e5e5;
  font: 13px/1.539 'Open Sans', Arial, sans-serif;
  background-color: #1a1a1a;
  }

/* Links
 ***************************************************************************************/

a:focus { outline: thin dotted;}
a:hover, a:active { outline: 0;}

a { color: #0a97ce;}
a:hover { color: #0a97ce;}

/* Text
 ***************************************************************************************/

/* Addresses styling not present in IE7/8/9, S5, Chrome */
abbr[title] { border-bottom: 1px dotted;}

/* Addresses style set to 'bolder' in FF3+, S4/5, Chrome */
b, strong { font-weight: bold;}

/* Improves readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  }

/* Prevents sub and sup affecting line-height in all browsers */
sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
  }
sup { top: -0.5em;}
sub { bottom: -0.25em;}

/* Paragraph
 ***************************************************************************************/

p { margin: 0 0 .5em; }

/* Lists
 ***************************************************************************************/

/* Embedded content
 ***************************************************************************************/
img { border: 0; vertical-align: middle;}

/* Corrects overflow displayed oddly in IE9 */
svg:not(:root) { overflow: hidden; }

/* Addresses margin not present in IE6/7/8/9, S5, O11 */
figure { margin: 0;}

/* Forms
 ***************************************************************************************/
legend { border: 0; }

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button, input, select, textarea {
  font-size: 1em; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  }

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer; /* 1 */
  -webkit-appearance: button; /* 2 */
  }

/* Re-set default cursor for disabled elements */
button[disabled], input[disabled] { cursor: default;}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  }

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
  }

/* Tables
 ***************************************************************************************/
/* Remove most spacing between table cells */
table {
  border-collapse: collapse;
  border-spacing: 0;
  }


/* Utils
 ***************************************************************************************/
/* Clearfix */
.clearfix:before, .clearfix:after { display: table; content: ""; }
.clearfix:after { clear: both; }

/* Hide */
.hidden { display: none !important;}