@import "fonts.css";
@import "reset.css";
@import "grid16.css";

.ib {
	display: inline-block;
}

hr.separate {
	margin: 0;
	height: 4px;
	border: none;
	background: #0a97ce;
}

/* Loader
 ***************************************************************************************/
.page-loader {
	z-index: 10000;
	/*display: none;*/
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background: #1a1a1a;
}

.page-loader-content {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -64px 0 0 -64px;
	width: 128px;
	height: 128px;
}

/* <editor-fold-desc "Header"> */
/* Header
 ***************************************************************************************/
#header {
	z-index: 1000;
	padding: 18px 0 0;
	width: 100%;
	background: #000000;
}

.header-fixed {
	position: fixed;
}

/* Social */
.header-social {
	margin-right: 5px;
}

/* Logo */
.header-logo {
	text-align: center;
}

.header-logo-link, .header-logo-link:visited, .header-logo-link:hover {
	color: white;
	text-decoration: none;
	font-size: 1.846em;
	line-height: 1;
}

.header-logo-link img {
	display: block;
	margin: 0 auto;
}

/* Phone */
.header-phone {
	color: #cecece;
	text-align: right;
}

.header-phone-ico {
	display: inline-block;
	margin: 5px 5px 0 0;
	width: 14px;
	height: 5px;
	background: url('../img/phone.gif') 0 0 no-repeat;
	vertical-align: top;
}

/* Menu */
#menu {
	position: relative;
	margin: 18px 0 0;
	background: #262626;
	border-top: 1px solid #484848;
}

.menu-container {
	padding: 16px 0;
}

.menu {
	margin: 0 0 0 -8px;
	padding: 0;
	list-style: none;
}

.menu-item {
	display: inline-block;
	margin-right: 7px;
}

.menu-link, .menu-link:visited, .menu-link-fake {
	display: block;
	padding: 7px 8px;

	color: white;
	text-transform: uppercase;
	text-shadow: #000 1px 1px 0;
	text-decoration: none;

	font-size: .9em;
	line-height: 1;
}

.menu-link:hover, .menu-link-current {
	color: white;
	background: #484848;
}

.menu-link-fake {
	color: #484848;
}

/* Order */
.order {
	position: relative;
	display: inline-block;
	top: 0;
	left: 0;
	padding: 7px 8px;

	text-transform: uppercase;
	text-shadow: rgba(0, 0, 0, 0.55) 1px 1px 0;

	font-size: .85em;
	font-weight: bold;
	line-height: 1;

	border-width: 1px 0 0 1px;
	border-style: solid;
	border-color: #70d3fc transparent transparent #57c7f5;

	background: #2cb9f3;

	box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.45);

	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.order:hover {
	top: -3px;
	left: -3px;

	box-shadow: 1px 1px 0 0 #003f57, 2px 2px 0 0 #003e56, 3px 3px 0 0 #003e56, 5px 5px 4px 0 rgba(0, 0, 0, 0.45);
}

.order, .order:visited, .order:hover {
	color: white;
	text-decoration: none;
}

/* Section menu */
.section-menu-wrap {
	height: 0;
	overflow: hidden;
}

.section-menu {
	padding: 20px 0;
	color: white;
	font-size: .9em;
	background: #1c1c1c;
}

.section-menu-container {
	background: url('../img/submenu-separate.gif') 260px center no-repeat;
}

.section-menu-row {
	background: url('../img/submenu-separate.gif') 540px center no-repeat;
}

.section-menu-left {
	float: left;
	width: 230px;
	margin-right: 30px;
}

.section-menu-center {
	float: left;
	width: 220px;
	margin: 0 30px;
}

.section-menu-right {
	float: left;
	width: 370px;
	margin-left: 30px;
}

/* Type */
.section-menu p {
	margin: 0;
	font-size: 1em;
}

.section-menu-contacts a, .section-menu-contacts a:visited, .section-menu-contacts a:hover {
	color: white;
	text-decoration: underline;
}

/* Submenu */
.submenu {
	margin: 0 0 0 -8px;
	padding: 0;
	list-style: none;
}

.submenu-link, .submenu-link:visited {
	display: inline-block;
	padding: 2px 8px;
	color: white;
	text-decoration: none;
}

.submenu-link:hover {
	color: white;
	text-decoration: none;
	background: #f1463f;
}

/* Message Form */
.message-form-area, .message-form-input {
	float: left;
	padding: 3px 10px;
	margin-bottom: 5px;
	color: #747474;
	font-size: .9em;
	background: #2c2c2c;
	border: none;
}

.message-form-area {
	margin-right: 10px;
	width: 184px;
	height: 82px;
	font-family: 'Open Sans', sans-serif;
}

.message-form-input {
	width: 130px;
	height: 20px;
}

.message-form-area:focus, .message-form-input:focus {
	outline: none;
}

.message-form-btn {
	position: relative;
	margin: 0 0 0;
	padding: 5px 10px;
	color: white;
	text-transform: uppercase;
	text-shadow: rgba(0, 0, 0, 0.45) 1px 1px;
	font-size: .9em;
	font-weight: bold;

	border: none;
	background: #484848;
}

.message-form-btn:focus {
	outline: none;
}

/* Portfolio Award */
.portfolio-award-img {
	float: left;
	margin: 0 25px 5px 0;
}

.portfolio-award-info {
	float: left;
}

.portfolio-award-info a, .portfolio-award-info a:visited, .portfolio-award-info a:hover {
	color: white;
	text-decoration: underline;
}

/* </editor-fold> */

/* <editor-fold-desc "Sections"> */
/* Sections
 ***************************************************************************************/
.section-wrap-absolute {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.section-wrap-absolute .section {
	position: absolute;
	top: 0;
	left: -100%;
	margin-top: 120px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.section {
	margin: 0;
}

/* </editor-fold> */

/* <editor-fold-desc "Pages"> */
/* Pages
 ***************************************************************************************/
.page {
	padding: 70px 0;
}

.page-separate {
	clear: both;
	margin: 0;
	height: 4px;
	font: 0/0 sans-serif;
	border: none;
	background: #0a97ce;
}

/* Section title */
.page-section-header {
	overflow: hidden;
	margin: 0;

	text-transform: uppercase;
	text-align: center;
	font-size: 1.1em;
	font-weight: normal;
	line-height: 1;
}

.page-section-header-text {
	position: relative;
}

.page-section-header-text::before, .page-section-header-text::after {
	content: "";
	position: absolute;
	top: 50%;
	height: 100%;
	width: 500px;
	border-top: 1px solid black;
}

.page-section-header span::after {
	left: 100%;
	margin-left: 10px;
}

.page-section-header span::before {
	right: 100%;
	margin-right: 10px;
}

/* Page title */
.page-header {
	margin: 10px 0 50px;

	text-align: center;
	font-size: 3.85em;
	line-height: 1;
}

/* Page collapse */
.page-collapse-btn-wrap {
	text-align: center;
}

.page-collapse-btn, .page-collapse-btn:visited, .page-collapse-btn:hover {
	position: relative;
	display: inline-block;
	padding: 6px 35px;
	min-width: 60px;

	color: white;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	font-size: 0.85em;
	font-weight: bold;
	line-height: 1;

	background: #f1463f;

	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
	top: 0;
	left: 0;

	/*box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.50) inset;*/
}

/*.page-collapse-btn::before, .page-collapse-btn::after {
	content: "";
	position: absolute;
	display: block;
	top: 50%;
	margin-top: -6px;
	width: 12px;
	height: 12px;
	background: url('../img/ico-star.gif') 0 0 no-repeat;
}*/

/*.page-collapse-btn::before {
	left: 10px;
}

.page-collapse-btn::after {
	right: 10px;
}*/
.page-collapse-btn:hover {
	top: -3px;
	left: -3px;

	box-shadow: 1px 1px 0 0 #b3221c, 2px 2px 0 0 #b3221c, 3px 3px 0 0 #b3221c;

}

/* Page welcome text */
.page-welcome {
	margin: 0 0 50px;
	text-align: center;
	font-size: 1.2em;
	line-height: 1.6;
}

.page-welcome > p {
	margin: 0;
}

/* Page slogan */
.page-slogan {
	margin: 13px 0;
	font-size: 2.92em;
	font-weight: bold;
	line-height: 1;
}

.page-slogan em {
	font-style: normal;
	line-height: 1;
	white-space: nowrap;
}

/* Page buttons */
.page-btn-red {
	position: relative;
	top: 0;
	left: 0;
	padding: 5px 10px;

	color: white;
	text-transform: uppercase;
	text-shadow: rgba(0, 0, 0, 0.45) 1px 1px;

	border-style: solid;
	border-width: 1px 0 0 1px;
	border-color: #f55b51 transparent transparent #ed3f34;

	background: #ee0f00;
	background-image: -moz-linear-gradient(top, #ee0f00, #ae0300);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ee0f00), color-stop(1, #ae0300));
	background-image: -webkit-linear-gradient(top, #ee0f00, #ae0300);
	background-image: -o-linear-gradient(top, #ee0f00, #ae0300);
	background-image: -ms-linear-gradient(top, #ee0f00, #ae0300);
	background-image: linear-gradient(top, #ee0f00, #ae0300);

	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.page-btn-red:hover {
	top: -3px;
	left: -3px;
	box-shadow: #5e0b00 1px 1px 0 0, #5e0b00 2px 2px 0 0, #5e0b00 3px 3px 0 0, rgba(0, 0, 0, 0.45) 4px 4px 3px 0;
}

/* </editor-fold> */

/* <editor-fold-desc "About"> */
/* About
***************************************************************************************/
#about {
	padding: 0;
	background: #f8f8f8;
}

/* Gallery */
.gallery {
	background: black;
}

.gallery-main {
	position: relative;
	height: 420px;
	overflow: hidden;

	background-position: center;
	background-repeat: no-repeat;
}

.gallery-link {
	position: absolute;
	top: 50%;
	margin-top: -45px;
}

.gallery-link-prev {
	left: 30px;
}

.gallery-link-next {
	right: 30px;
}

.gallery-preview {
	width: 941px;
}

.gallery-preview-item {
	position: relative;
	top: 0;
	left: 0;
	float: left;
	margin-left: 1px;

	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.gallery-preview-item:first-child {
	margin-left: 0;
}

.gallery-preview-item:hover {
	top: -6px;
	left: -6px;

	box-shadow: 1px 1px 0 0 #f1463f, 2px 2px 0 0 #f1463f, 3px 3px 0 0 #f1463f, 4px 4px 0 0 #f1463f, 5px 5px 0 0 #f1463f, 6px 6px 0 0 #f1463f;
}

/* Posters */
.poster-item {
	position: relative;
	float: left;
	top: 0;
	left: 0;
	width: 289px;
	padding: 60px 10px 60px 20px;

	border-width: 1px 0 0 1px;
	border-style: solid;
	border-color: transparent;

	background: #f8f8f8;

	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.poster-item:hover {
	top: -10px;
	left: -10px;

	/*border-color: #f1463f;*/

	box-shadow: 1px 1px 10px 0 #f1463f, 2px 2px 0 0 #f1463f, 3px 3px 0 0 #f1463f, 4px 4px 0 0 #f1463f, 5px 5px 0 0 #f1463f, 6px 6px 0 0 #f1463f, 7px 7px 0 0 #f1463f, 8px 8px 0 0 #f1463f, 9px 9px 0 0 #f1463f, 10px 10px 0 0 #f1463f;
}

.poster-link, .poster-link:visited {
	color: #333333;
	text-decoration: none;

	font-size: 1.66em;
	font-weight: 800;
	line-height: 1.2;
}

.poster-link:hover {
	color: #333333;
	text-decoration: none;
}

.poster-preview {
	margin: 10px 0 0;
	color: #585858;
}

/* </editor-fold> */

/* <editor-fold-desc "News"> */
/* News and events
***************************************************************************************/
#news {
	padding-bottom: 0;
	color: #333333;
	background: #ffffff left top repeat-x url("../img/news-block-background.png");
}

#news .page-section-header-text::before, #news .page-section-header-text::after {
	border-color: #d9d9d9;
}

/* Events */
.events {
	padding-bottom: 30px;
}

/*.event-center {
	position: relative;
	left: 10px;
}

.event-right {
	position: relative;
	left: 20px;
}*/

.event-header {
	margin: 20px 0 0;
	width: 280px;
	font-size: 1.4em;
	font-weight: bold;
	line-height: 1.3;
}

.event-date {
	color: #787878;
	font-size: .9em;
}

.event-link {
	position: relative;
	display: inline-block;
	top: 0;
	left: 0;

	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.event-link:hover {
	top: -10px;
	left: -10px;
	box-shadow: 1px 1px 0 0 #f1463f, 2px 2px 0 0 #f1463f, 3px 3px 0 0 #f1463f, 4px 4px 0 0 #f1463f, 5px 5px 0 0 #f1463f, 6px 6px 0 0 #f1463f, 7px 7px 0 0 #f1463f, 8px 8px 0 0 #f1463f, 9px 9px 0 0 #f1463f, 10px 10px 0 0 #f1463f, 11px 11px 0 0 #f1463f, 12px 12px 0 0 #f1463f, 13px 13px 0 0 #f1463f;
}

/* News */
.news {
	margin-bottom: 30px;
}

.news-years {
	margin: 30px 0 5px;
	padding: 8px 0;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
}

.news-year-item {
	display: inline-block;
	padding: 0 3px 0 0;
}

.news-year-link, .news-year-link:visited {
	padding: 0 8px;
	color: #333333;
	text-decoration: none;
	font-size: 1.1em;
}

.news-year-item:first-child .news-year-link {
	padding-left: 0;
}

.news-year-link-current, .news-year-link-current:visited, .news-year-link-current:hover,
.news-year-link:hover {
	color: #f1463f;
	text-decoration: none;
}

.news-item {
	padding-top: 15px;
}

.news-date {
	color: #333333;
	font-size: .9em;
	white-space: nowrap;
}

.news-header, .news-header:visited {
	color: #585858;
	text-decoration: none;
	font-size: 1em;
}

.news-header:hover {
	color: #585858;
	text-decoration: underline;
}

.news-link {
	display: inline-block;
	margin-top: 15px;
	width: 33px;
	height: 33px;
	text-decoration: none;
	position: relative;
	top: 0;
	left: 0;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.news-link:hover {
	top: -3px;
	left: -3px;
	box-shadow: 1px 1px 0 0 #b3221c, 2px 2px 0 0 #b3221c, 3px 3px 0 0 #b3221c;
}

.news-link-left {
	background: #f1463f url('../img/ico-news-link-left.gif') center no-repeat;
}

.news-link-right {
	background: #f1463f url('../img/ico-news-link-right.gif') center no-repeat;
}

/* </editor-fold> */

/* <editor-fold-desc "History"> */
/* History
***************************************************************************************/
#history {
	color: #333333;
	background: #f8f8f8;
}

#history .page-section-header-text::before, #history .page-section-header-text::after {
	border-color: #e5e5e5;
}

#history .page-slogan {
	color: #0a97ce;
}

.history-separate {
	margin: 30px 0 15px;
	height: 1px;
	font: 0/0 sans-serif;
	border: none;
	background: #d3d3d3;
}

/* Gallery */
.history-gallery {
	position: relative;
	height: 690px;
}

.history-gallery-c11 {
	position: absolute;
	top: 0;
	left: 0;
}

.history-gallery-c12 {
	position: absolute;
	top: 0;
	left: 235px;
}

.history-gallery-c13 {
	position: absolute;
	top: 0;
	left: 470px;
}

.history-gallery-c14 {
	position: absolute;
	top: 0;
	left: 705px;
}

.history-gallery-c21 {
	position: absolute;
	top: 230px;
	left: 0;
}

.history-gallery-c22 {
	position: absolute;
	top: 230px;
	left: 235px;
}

.history-gallery-c23 {
	position: absolute;
	top: 230px;
	left: 470px;
}

.history-gallery-c24 {
	position: absolute;
	top: 230px;
	left: 705px;
}

.history-gallery-c31 {
	position: absolute;
	top: 460px;
	left: 0;
}

.history-gallery-c32 {
	position: absolute;
	top: 460px;
	left: 235px;
}

.history-gallery-c33 {
	position: absolute;
	top: 460px;
	left: 470px;
}

.history-gallery-c34 {
	position: absolute;
	top: 460px;
	left: 705px;
}

/* Welcome text */
.history-welcome {
	color: #585858;
}

/* Portfolio file */
.history-portfolio {
	display: inline-block;
	padding: 0 0 0 40px;
	min-height: 34px;
	background: url('../img/history-ico-pdf.png') 0 center no-repeat;
}

.history-portfolio, .history-portfolio:visited, .history-portfolio:hover {
	color: #333333;
	text-decoration: none;
	font-size: 1.2em;
	font-weight: 600;
	line-height: 1.2;
}

.history-portfolio-info {
	display: block;
	color: #585858;
	font-size: .7em;
	font-weight: normal;
}

/* </editor-fold> */

/* <editor-fold-desc "Vacancy"> */
/* Vacancy
***************************************************************************************/
#vacancy {
	color: #ffffff;
	background: #a5cf4c;
}

#vacancy .page-section-header-text::before, #vacancy .page-section-header-text::after {
	border-color: rgba(255, 255, 255, 0.44);
}

/* Gallery */
.vacancy-gallery {
	text-align: center;
}

/* Vacancy */
.vacancy-welcome {
	font-size: 1.1em;
	line-height: 2em;
	border-top: 1px solid rgba(255, 255, 255, 0.44);
	border-bottom: 1px solid rgba(255, 255, 255, 0.44);
	padding: 12px 0;
	text-align: center;
	margin: 0 0 10px;
}

.vacancy-welcome > p {
	margin: 0;
}

.vacancy-header-title {
	font-weight: bold;
	font-size: 2em;
	line-height: 1.5;
	margin-bottom: 0.45em;
}

.vacancy-item {
	border-top: 1px solid rgba(255, 255, 255, 0.44);
}

article.vacancy-item:last-child {
	border-bottom: 1px solid rgba(255, 255, 255, 0.44);
}

.vacancy-item-header {
	padding-right: 20px;
	font-size: 1.5em;
	font-weight: normal;
	line-height: 1;
	background: url('../img/vacancy-ico-plus.png') right 0 no-repeat;
	cursor: pointer;
}

.vacancy-item-opened {
	background-image: url('../img/vacancy-ico-minus.png');
}

.vacancy-content {
	margin: 25px 0 0 !important;
}

.vacancy-content h4 {
	margin: 0 0 15px 0;
	font-size: 1.2em;
	font-weight: bold;
}

.vacancy-content ul {
	padding: 0;
	list-style-position: inside;
	line-height: 2;
}

.vacancy-content-footer {
	padding: 5px 0 15px;
}

.vacancy-content-footer a, .vacancy-content-footer a:visited, .vacancy-content-footer a:hover {
	color: white;
	text-decoration: underline;
}

.vacancy-content-footer p {
	margin: 5px 0 0;
	font-style: italic;
}

/* Form */
.vacancy-form-input {
	margin-bottom: 27px;
	padding: 10px;
	width: 278px;
	color: #333333;
	background: white;
	border: 1px solid #b9b9b9;
	box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.12) inset;
}

.vacancy-form-input:focus {
	outline: none;
}

select.vacancy-form-input {
	width: 300px;
}

/* </editor-fold> */

/* <editor-fold-desc "Awards"> */
/* Awards
***************************************************************************************/
#awards {
	color: #e5e5e5;
	background: #16191d url('../img/awards-bg.jpg') center 0 no-repeat;
}

#awards .page-section-header-text::before, #awards .page-section-header-text::after {
	border-color: rgba(60, 60, 60, 0.15);
}

.awards-separate {
	margin: 50px 0;
	height: 1px;
	font: 0/0 sans-serif;
	background: #393b3f;
	border: none;
}

/* Guestbook */
.guestbook {
	margin-top: 100px;
	min-height: 575px;
}

/* links */
.guestbook-link {
	display: inline-block;
	margin: 0 20px 2px 120px;

	white-space: nowrap;
}

.guestbook-link, .guestbook-link:visited, .guestbook-link:hover {
	padding: 1px 10px 3px 10px;
	color: #e5e5e5;
	text-decoration: none;
	font-size: 1.15em;
}

.guestbook-link:hover, .guestbook-link-current {
	background: #fc362d;
}

/* Item */
.guestbook-item {
	display: none;
}

.guestbook-item-current {
	display: block;
}

.guestbook-item h3 {
	font-size: 1.4em;
	font-weight: normal;
}

.guestbook-item p {
	line-height: 1.9;
}

.guestbook-author {
	color: #787878;
	text-transform: uppercase;
}

.guestbook-author-info {
	color: #787878;
	font-style: italic;
}

/* Awards */
.awards {
	text-align: center;
}

.awards h3 {
	margin-bottom: 30px;
	text-align: center;
	font-size: 1.4em;
	font-weight: normal;
}

.award-items {
	margin: 0 auto;
}

.award-item {
	padding: 0 15px;
	width: 1px;
	text-align: left;
	font-size: .9em;
	vertical-align: top;
}

.award-image {
	border: 5px solid #eae9e9;
}

.award-preview {
	margin: 30px 0 0;
}

.award-item a, .award-item a:visited, .award-item a:hover {
	color: #e5e5e5;
	text-decoration: underline;
}

/* </editor-fold> */

/* <editor-fold-desc "FAQ"> */
/* FAQ
***************************************************************************************/
#faq {
	color: #333333;
	background: #dadada url('../img/faq-bg.gif') 0 bottom repeat-x;
}

#faq .page-section-header-text::before, #faq .page-section-header-text::after {
	border-color: #d0d0d0;
}

/* Faq */
.faq {
	padding-top: 7px;
	border-top: 1px solid #bbbbbb;
}

.faq-item {
	border-bottom: 1px solid #bbbbbb;
}

.faq-item-header {
	padding: 3px 20px 3px 0;
	font-size: 1.2em;
	font-weight: bold;
	background: url('../img/faq-ico-plus.png') right 5px no-repeat;
	cursor: pointer;
}

.faq-item-opened {
	background-image: url('../img/faq-ico-minus.png');
}

.faq-item-answer {
	padding-bottom: 1.2em;
}

/* Form */
.faq-form-header {
	margin: 0 0 27px;
	color: #0a97ce;
	font-size: 2em;
	font-weight: bold;
	line-height: 1;
}

.faq-form-label {
	display: block;
	margin-bottom: 4px;
	cursor: pointer;
}

.faq-form-input, .faq-form-area {
	margin-bottom: 8px;
	padding: 5px 7px;
	width: 284px;

	color: #333333;

	border: 1px solid #b9b9b9;
	border-top-color: #a0a0a0;

	box-shadow: rgba(0, 0, 0, 0.12) 0 2px 5px 0 inset;
}

.faq-form-area {
	height: 120px;
}

.faq-form-input:focus, .faq-form-area:focus {
	outline: none;
	border-color: #0a97ce;
}

/* </editor-fold> */

/* <editor-fold-desc "Feedback"> */
/* Feedback
***************************************************************************************/
#feedback {
	padding-bottom: 0;
	color: #e5e5e5;
	background: #1a1a1a;
}

#feedback .page-collapse-btn {
	box-shadow: none;
	top: 0;
	left: 0;
}

.feedback-separate {
	height: 12px;
	font: 0/0 sans-serif;
	background: #f1463f;
	border: none;
}

/* Contacts */
.feedback-item {
	float: left;
	margin: 0 20px 50px 0;
	font-size: 1.1em;
}

.feedback-item-header {
	margin-bottom: 25px;
	font-size: 1.2em;
	font-weight: normal;
}

.feedback-social-header {
	margin-bottom: 17px;
}

.feedback-item p {
	margin: 2px 0;
}

.feedback-item a, .feedback-item a:visited, .feedback-item a:hover {
	color: #0a97ce;
}

.feedback-item a:hover {
	text-decoration: none;
}

.feedback-address {
	width: 260px;
}

.feedback-phone {
	width: 220px;
}

.feedback-online {
	width: 210px;
}

/* Map */
.feedback-map {
	text-align: center;
	overflow: hidden;
}

/* Light wrapper */
.feedback-light-wrapper {
	padding-bottom: 70px;
	color: #333333;
	background: #f8f8f8;
}

/* Form */

.feedback-from {
	padding: 70px 0 0;
	width: 761px;
}

.feedback-from-left {
	float: left;
	padding-right: 30px;
	border-right: 1px dotted #d2d2d2;
}

.feedback-from-right {
	float: left;
	width: 320px;
	margin-left: 30px;
}

.feedback-form-label {
	display: block;
	margin-bottom: 4px;
	cursor: pointer;
}

.feedback-form-input, .feedback-form-area {
	margin-bottom: 27px;
	padding: 5px 7px;
	width: 304px;

	color: #333333;

	border: 1px solid #b9b9b9;
	border-top-color: #a0a0a0;

	box-shadow: rgba(0, 0, 0, 0.12) 0 2px 5px 0 inset;
	font-size: 1.1em;
}

.feedback-form-input {
	padding: 15px 10px;
}

.feedback-form-area {
	width: 360px;
	height: 174px;
	margin: 0;
	padding: 13px 9px;
	resize: vertical;
}

.feedback-form-input:focus, .feedback-form-area:focus {
	outline: none;
	border-color: #0a97ce;
}

.feedback-from .page-btn-red {
	margin-top: -4px;
	font-weight: bold;
	font-size: 0.85em;
	padding: 4px 10px;
}

/* QR code */
.feedback-qr {
	margin-top: 60px;
	text-align: center;
}

/* </editor-fold> */

/* <editor-fold-desc "Portfolio"> */
/* Portfolio
***************************************************************************************/
#portfolio {
	padding-top: 10px;
	color: #333333;
	background: #ffffff;
}

#portfolio .page-section-header-text::before, #portfolio .page-section-header-text::after {
	border-top-color: rgba(0, 0, 0, 0.15);
}

#portfolio .page-section-header {
	margin-top: 55px;
}

/* Item */
.portfolio-item {
	margin: 20px auto;
	padding: 20px;
	background: white;
}

.portfolio-image {
	box-shadow: 0 0 45px rgba(0, 0, 0, 0.15);
}

.portfolio-item-wrap {
	padding-top: 45px;
}

.portfolio-header {
	font-size: 1.4em;
	font-weight: bold;
	margin: 0 0 0.2em;
}

.portfolio-date {
	color: #999999;
	font-size: 0.85em;
	margin: 0 0 0.3em;
}

.portfolio-link {
	padding: 5px 10px;
	background: #f1463f;
	margin-top: 6px;
}

.portfolio-link, .portfolio-link:visited, .portfolio-link:hover {
	color: white;
	text-decoration: none;
}

.portfolio-description {
	margin: 10px 0 0;
	color: #585858;
}

.portfolio-thumbnail {
	float: left;
}

.portfolio-thumbnail-current, .portfolio-thumbnail:hover {
	position: relative;
	box-shadow: #f1463f 0 0 0 2px;
}

/* Order */
.portfolio-order {
	width: 980px;
	margin-bottom: 40px;
}

.portfolio-order-header {
	padding: 15px 0;

	color: white;
	text-align: center;
	font-size: 2em;
	line-height: 1;

	background: #f1463f;
}

.portfolio-order-map {
	float: left;
	width: 510px;
}

.portfolio-order-form {
	float: right;
	width: 440px;
}

/* Form */
.portfolio-order-input, .portfolio-order-area {
	margin-bottom: 25px;
	padding: 12px 7px;
	width: 424px;

	color: #333333;

	border: 1px solid #b9b9b9;
	border-top-color: #a0a0a0;

	box-shadow: rgba(0, 0, 0, 0.12) 0 2px 5px 0 inset;
}

.portfolio-order-area {
	height: 90px;
}

.portfolio-order-input:focus, .portfolio-order-area:focus {
	outline: none;
	border-color: #0a97ce;
}

/* </editor-fold> */

#map {
	width: 100%;
	height: 443px;
}

#portfolio_map {
	width: 511px;
	height: 443px;
}

.left-menu-block {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 100;
	padding-top: 120px;
	overflow: visible;
	width: 45px;
}

.left-menu-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
	width: 45px;
}

.left-menu {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 300px;
}

.left-menu li {
	list-style: none;
	margin: 0 0 1px;
	padding: 0 16px 0 0;
	background: #262626;
	position: relative;
	white-space: nowrap;
}

.left-menu a {
	display: block;
	height: 45px;
	line-height: 45px;
	font-size: 0.9em;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 45px;
	background: center right no-repeat url("../img/left-menu-link.gif");
}

.page-collapse-btn.open {
	display: none;
}

.placeholder {
	color: #333333;
}

.portfolio-tags {

}

.portfolio-tags a {
	display: block;
	float: left;
	background: #bababa;
	color: #ffffff;
	line-height: 23px;
	padding: 0 12px;
	text-decoration: none;
	margin: 0 4px 4px 0;
}

.portfolio-tags .active {
	background: #f1463f;
}

#portfolio-slider .portfolio-title {
	font-weight: bold;
	font-size: 1.1em;
	line-height: 1;
	margin: 18px 0 6px 0;
	cursor: pointer;
}

#portfolio-slider .portfolio-date {
	line-height: 1;
}

#portfolio-slider .portfolio-preview-text {
	color: #585858;
	margin: 13px 0 0 0;
	height: 100px;
}

.portfolio-list .portfolio-link {
	display: inline-block;
	font-size: 0.85em;
	line-height: 20px;
	height: 20px;
	padding: 0 12px;
}

#portfolio-slider li {
	width: 300px;
	margin: 0 20px 0 0;
	padding: 0;
}

.portfolio-link-left, .portfolio-link-right {
	display: inline-block;
	cursor: pointer;
	padding: 0;
	width: 33px;
	height: 33px;
	position: relative;
	top: 0;
	left: 0;
	margin: 0;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
	z-index: 10;
}

.portfolio-link-right {
	float: right;
	background: #f1463f url('../img/ico-news-link-right.gif') center no-repeat;
}

.portfolio-link-left {
	float: left;
	background: #f1463f url('../img/ico-news-link-left.gif') center no-repeat;
	margin-right: 10px;
}

.portfolio-controls .portfolio-link:hover {
	top: -3px;
	left: -3px;
	box-shadow: 1px 1px 0 0 #b3221c, 2px 2px 0 0 #b3221c, 3px 3px 0 0 #b3221c;
}

#slider {
	width: 776px;
	float: left;
	height: 6px;
	background: #d9d9d9;
	margin: 13px 0 0;
	position: relative;
}

.ui-slider-horizontal:after {
	position: absolute;
	background: #d9d9d9;
	height: 6px;
	width: 68px;
	right: -68px;
	top: 0;
	content: '';
}

#slider .ui-slider-handle {
	height: 6px;
	top: 0;
	margin-left: 0;
	background: #f1463f;
	width: 68px;
	cursor: pointer;
}

.portfolio-controls {
	/*width: 135px;*/
	float: right;
	height: 33px;
	position: relative;
}

.portfolio-slider-panel {
	margin: 12px 0 40px 0;
}

.news-items-container {
	position: fixed;
	top: 120px;
	left: 0;
	width: 100%;
	bottom: 0;
	background: #ffffff;
	overflow-y: scroll;
	padding: 0 0 20px;
	display: none;
	z-index: 101;
}

.news-items-container .title-block {
	height: 104px;
	background: #f1463f left top repeat-x url("../img/news-title-shadow.png");
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

#news_list {
	margin: 0 auto;
	float: none;
	overflow: hidden;
}

.news-list > li {
	width: 940px;
	margin: 0 20px 0 0;
}

.news-list {
	list-style: none;
	margin-left: -20px;
	padding: 0;
	float: none;
	z-index: 12;
	position: relative;
}

.news-item-title-block {
	text-align: center;
	color: #ffffff;
	height: 85px;
}

.news-item-date {
	font-size: 0.9em;
	margin: 20px 0 7px;
}

.news-item-title {
	font-size: 1.4em;
	font-weight: bold;
}

.news-preview-text, .news-item-text {
	color: #585858;
}

.news-preview-text {
	margin: 35px 0;
}

.news-item-text {
	line-height: 1.85em;
	margin: 30px 0 38px;
}

.news-pagination {
	margin: 0 auto;
	float: none;
}

.news-close-block {
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -15px;
	width: 59px;
	height: 76px;
	z-index: 11;
}

.news-close-btn {
	background: #f1463f center center no-repeat url("../img/close.png");
	width: 59px;
	height: 76px;
	cursor: pointer;
	position: relative;
	display: block;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
	z-index: 12;
}

.news-close-btn:hover {
	top: -3px;
	left: -3px;
	box-shadow: 1px 1px 0 0 #9f221d, 2px 2px 0 0 #9f221d, 3px 3px 0 0 #9f221d;
}

/* Portfolio item view */
.portfolio-items-container {
	position: fixed;
	top: 120px;
	left: 0;
	width: 100%;
	bottom: 0;
	background: #ffffff;
	overflow-y: scroll;
	padding: 0 0 20px;
	display: none;
	z-index: 101;
}

.portfolio-item-block {
	display: none;
}

.portfolio-items-container .page-header {
	font-weight: bold;
	margin-bottom: 25px;
}

.portfolio-item-block .portfolio-date {
	text-align: center;
	margin-bottom: 18px;
}

.portfolio-item-block .portfolio-link-block {
	text-align: center;
	margin: 25px 0;
}

.portfolio-item-gallery {
	padding: 0;
}

.portfolio-item-gallery-wrapper {
	width: 100%;
	overflow: hidden;
}

.portfolio-item-block .portfolio-link {
	display: inline-block;
}

.portfolio-item-gallery > li {
	margin: 0 20px 0 0;
}

.portfolio-item-wrapper {
	width: 940px;
	margin: 0 auto;
}

.portfolio-text {
	color: #585858;
	float: none;
	margin: 0 auto;
}

.portfolio-text p {
	margin-bottom: 15px;
}

.portfolio-item-gallery-block {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

.jcarousel-control-block {
	position: absolute;
	bottom: 14px;
	width: 100%;
	height: 10px;
	text-align: center;
}

.jcarousel-control {
	height: 4px;
	padding: 3px 5px;
	border-radius: 4px;
	list-style: none;
	margin: 0 auto;
	background: #ffffff;
	display: inline-block;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.jcarousel-control > li {
	background: #afdff5;
	width: 4px;
	height: 4px;
	border-radius: 4px;
	margin: 0 3px 0 0;
	float: left;
	cursor: pointer;
}

.jcarousel-control > li.active {
	background: #00a6dd;
}

.jcarousel-control > li:last-child {
	margin: 0;
}

.portfolio-close-block {
	position: absolute;
	right: 0;
	top: 3px;
	width: 59px;
	height: 76px;
	z-index: 11;
}

.portfolio-close-btn {
	background: #f1463f center center no-repeat url("../img/close.png");
	width: 59px;
	height: 76px;
	cursor: pointer;
	position: relative;
	display: block;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
	z-index: 12;
}

.portfolio-close-btn:hover {
	top: -3px;
	left: -3px;
	box-shadow: 1px 1px 0 0 #9f221d, 2px 2px 0 0 #9f221d, 3px 3px 0 0 #9f221d;
}

.open-portfolio {
	cursor: pointer;
}

.page-btn-blue {
	position: relative;
	display: inline-block;
	top: 0;
	left: 0;
	padding: 7px 8px;

	text-transform: uppercase;
	text-shadow: rgba(0, 0, 0, 0.55) 1px 1px 0;

	font-size: .85em;
	font-weight: bold;
	line-height: 1;

	border-width: 1px 0 0 1px;
	border-style: solid;
	border-color: #70d3fc transparent transparent #57c7f5;

	background: #2cb9f3;

	box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.45);

	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.page-btn-blue:hover {
	top: -3px;
	left: -3px;

	box-shadow: 1px 1px 0 0 #003f57, 2px 2px 0 0 #003e56, 3px 3px 0 0 #003e56, 5px 5px 4px 0 rgba(0, 0, 0, 0.45);
}

.page-btn-blue, .page-btn-blue:visited, .page-btn-blue:hover {
	color: white;
	text-decoration: none;
}

.gallery-main ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: none;
}

.gallery-main ul li {
	padding: 0;
	margin: 0;
}