<div class="hidden page-header">О компании</div>
<div class="gallery">
	<div id="gallery_main" class="gallery-main">
		<ul>
			<li><img src="http://lorempixel.com/1709/420?1" alt=""/></li>
			<li><img src="http://lorempixel.com/1709/420?2" alt=""/></li>
			<li><img src="http://lorempixel.com/1709/420?3" alt=""/></li>
			<li><img src="http://lorempixel.com/1709/420?4" alt=""/></li>
			<li><img src="http://lorempixel.com/1709/420?5" alt=""/></li>
			<li><img src="http://lorempixel.com/1709/420?6" alt=""/></li>
		</ul>
	</div>
	<div class="container clearfix gallery-preview">
		<a class="gallery-preview-item" href="#"><img height="60" width="156" src="img/content/gallery-preview-1.jpg" alt=""></a>
		<a class="gallery-preview-item" href="#"><img height="60" width="156" src="img/content/gallery-preview-2.jpg" alt=""></a>
		<a class="gallery-preview-item" href="#"><img height="60" width="156" src="img/content/gallery-preview-3.jpg" alt=""></a>
		<a class="gallery-preview-item" href="#"><img height="60" width="156" src="img/content/gallery-preview-4.jpg" alt=""></a>
		<a class="gallery-preview-item" href="#"><img height="60" width="156" src="img/content/gallery-preview-5.jpg" alt=""></a>
		<a class="gallery-preview-item" href="#"><img height="60" width="156" src="img/content/gallery-preview-6.jpg" alt=""></a>
	</div>
</div>

<!-- posters -->
<div class="container">
	<div class="row">
		<div class="poster-item">
			<a class="poster-link" href="#">Эффективное продвижение сайта по траффику</a>

			<p class="poster-preview">Эффективное привлечение потенциальных клиентов на сайт Эффективное привлечение
				потенциальных клиентов на сайт</p>
		</div>
		<div class="poster-item">
			<a class="poster-link" href="#">Продвижение в социальных сетях и интернет-маркетинг</a>

			<p class="poster-preview">Получение доступа к огромной аудитории социальных сетей Получение доступа к
				огромной аудитории социальных сетей</p>
		</div>
		<div class="poster-item">
			<a class="poster-link" href="#">Юзабилити- исследования и экспертная оценка</a>

			<p class="poster-preview">Решение задач повышения конверсии на сайтах и поисковая оптимизация Решение задач
				повышения конверсии на сайтах</p>
		</div>
	</div>
</div>
<!-- /posters -->