<div class="container">
  <hgroup>
    <h2 class="page-section-header"><span class="page-section-header-text">о компании</span></h2>
    <h1 class="page-header">Отзывы и награды</h1>
  </hgroup>

  <!-- guestbook -->
  <div class="row guestbook">
    <div class="span5">
      <a class="guestbook-link" href="#">Актуально.ру</a>
      <a class="guestbook-link" href="#">TelePay</a>
      <a class="guestbook-link guestbook-link-current" href="#">Казанова</a>
      <a class="guestbook-link" href="#">Мегафон Урал</a>
      <a class="guestbook-link" href="#">Живика</a>
      <a class="guestbook-link" href="#">Рэлтек</a>
      <a class="guestbook-link" href="#">ST-Clinic</a>
      <a class="guestbook-link" href="#">Расчетный Центр Урала</a>
      <a class="guestbook-link" href="#">УБРиР</a>
      <a class="guestbook-link" href="#">Формула строительства</a>
      <a class="guestbook-link" href="#">Трек</a>
      <a class="guestbook-link" href="#">Калинка</a>
      <a class="guestbook-link" href="#">Прометей</a>
      <a class="guestbook-link" href="#">АтомЭнергоСервис</a>
      <a class="guestbook-link" href="#">Стекломир</a>
      <a class="guestbook-link" href="#">Завод Медсинтез</a>
      <a class="guestbook-link" href="#">День и Ночь</a>
      <a class="guestbook-link" href="#">Химсинтез</a>
      <a class="guestbook-link" href="#">News-Asia</a>
      <a class="guestbook-link" href="#">Актуально.ру</a>
      <a class="guestbook-link" href="#">TelePay</a>
    </div>
    <div class="span4 offset3">
      <article class="guestbook-item guestbook-item-current">
        <h3>Мегафон-Урал</h3>

        <p>Очень нравился и нравится подход сотрудников в оперативности и готовности пойти на уступки клиенту и обеспечить готовность продукта «вчера», как часто и требует клиент. Очень понравился креатив и дизайн презентации. </p>
        <p>Особенно хотелось бы отметить работу руководителя отдела производства Лебедевой Ольги Юрьевны,которая не только убедила нас работать с компанией "ТитанСофт", но и постоянно информировала нас о ходе выполнения работ, которые были завершены в срок.</p>
        <p>Успехов и процветания такой хорошей команде профессионалов.</p>

        <footer>
          <div class="guestbook-author">И.В.Тамакулова</div>
          <div class="guestbook-author-info">Директор департамента маркетинга</div>
        </footer>
      </article>
    </div>
  </div>
  <!-- /guestbook -->

  <hr class="awards-separate">

  <!-- awards -->
  <div class="awards">
    <h3>Наши награды и дипломы</h3>

    <table class="award-items">
      <tr>
        <td class="award-item">
          <img class="award-image" width="246" height="172" src="img/content/award-1.png" alt="" title="">
          <p class="award-preview">I место в номинации “Эргономинчность”. “Региональный Центр Металлопроката”</p>
          <a href="#">www.regcm.ru</a>
        </td>
        <td class="award-item">
          <img class="award-image" width="125" height="176" src="img/content/award-2.png" alt="" title="">
          <p class="award-preview">I место в номинации “Эргономинчность”. “Региональный Центр Металлопроката”</p>
          <a href="#">www.regcm.ru</a>
        </td>
        <td class="award-item">
          <img class="award-image" width="125" height="176" src="img/content/award-3.png" alt="" title="">
          <p class="award-preview">I место в номинации “Эргономинчность”. “Региональный Центр Металлопроката”</p>
          <a href="#">www.regcm.ru</a>
        </td>
        <td class="award-item">
          <img class="award-image" width="246" height="176" src="img/content/award-4.png" alt="" title="">
          <p class="award-preview">I место в номинации “Эргономинчность”. “Региональный Центр Металлопроката”</p>
          <a href="#">www.regcm.ru</a>
        </td>
      </tr>
    </table>
  </div>
  <!-- /awards -->
</div>