<div class="container">
  <hgroup>
    <h2 class="page-section-header"><span class="page-section-header-text">о компании</span></h2>
    <h1 class="page-header">Вопрос-ответ</h1>
  </hgroup>

  <div class="row">
    <div class="span7 faq"><!-- faq -->
      <article class="faq-item">
        <h3 class="faq-item-header">Какими налогами облагается доход от моей деятельности на рынке FOREX?</h3>
      </article>
      <article class="faq-item">
        <h3 class="faq-item-header">Сколько сделок в месяц необходимо совершать?</h3>
      </article>
      <article class="faq-item">
        <h3 class="faq-item-header faq-item-opened">Сколько можно заработать на рынке Forex?</h3>
        <p class="faq-item-answer">Размер заработка зависит только от Вашей способности правильно оценить рыночную ситуацию и вовремя открыть или закрыть позицию.</p>
      </article>
      <article class="faq-item">
        <h3 class="faq-item-header">Куда поступают переведенные клиентом средства? Какие гарантии может дать Компания и какую ответственность она несет?</h3>
      </article>
      <article class="faq-item">
        <h3 class="faq-item-header">Как мои средства защищены от кражи в Личном Кабинете?</h3>
      </article>
      <article class="faq-item">
        <h3 class="faq-item-header">Как рассчитать своп?</h3>
      </article>
      <article class="faq-item">
        <h3 class="faq-item-header">Как рассчитывается прибыль по операциям на рынке FOREX?</h3>
      </article>
    </div><!-- /faq -->
    <div class="span4 offset1"><!-- form -->
      <div class="faq-form">
        <h3 class="faq-form-header">Здравствуйте! Мы очень любим отвечать на вопросы, напишите же нам скорее!</h3>
        <label class="faq-form-label" for="faq_name">Ваше имя:</label>
        <input class="faq-form-input" type="text" name="faq[]" id="faq_name">

        <label class="faq-form-label" for="faq_email">Электронная почта:</label>
        <input class="faq-form-input" type="text" name="faq[]" id="faq_email">

        <label class="faq-form-label" for="faq_phone">Телефон:</label>
        <input class="faq-form-input" type="text" name="faq[]" id="faq_phone">

        <label class="faq-form-label" for="faq_q">Вопрос:</label>
        <textarea class="faq-form-area" name="faq_q" id="faq_q" cols="1" rows="1">Куда поступают переведенные клиентом средства? Какие гарантии может дать Компания и какую ответственность она несет?</textarea>

        <input class="page-btn-red" type="submit" value="отправить">
      </div>
    </div><!-- /form -->
  </div>
</div>