<header class="container">
	<h1 class="page-header">Обратная связь</h1>
</header>

<!-- contacts -->
<div class="container">
	<div class="feedback-item feedback-address">
		<h3 class="feedback-item-header">Приезжайте к нам</h3>

		<p>Тверитина, 34/7, 2 этаж</p>

		<p>Екатеринбург, 620026</p>
	</div>
	<div class="feedback-item feedback-phone">
		<h3 class="feedback-item-header">Звоните нам</h3>

		<p>+7 343 217-80-79</p>

		<p>+7 922-203-10-06</p>
	</div>
	<div class="feedback-item feedback-online">
		<h3 class="feedback-item-header">Пишите нам</h3>

		<p><a href="#">sales@titansoft.ru</a></p>

		<p>ICQ 349-620-958</p>
	</div>
	<div class="feedback-item feedback-social">
		<h3 class="feedback-item-header feedback-social-header">Будьте с нами</h3>

		<p><img width="126" height="20" src="img/content/social-twitter.png" alt="social"></p>

		<p><img width="145" height="20" src="img/content/social-facebook.png" alt="social"></p>

		<p><img width="103" height="22" src="img/content/social-vkontakte.png" alt="social"></p>
	</div>
</div>
<!-- /contacts -->

<div class="feedback-map">

	<div id="map"></div>

</div>

<hr class="feedback-separate">

<div class="feedback-light-wrapper">
	<div class="page-collapse-btn-wrap">
		<a class="page-collapse-btn close" data-target="#map" href="#">Скрыть карту</a>
		<a class="page-collapse-btn open" data-target="#map" href="#">Открыть карту</a>
	</div>

	<!-- form -->
	<div class="container feedback-from">

		<div class="feedback-from-left">
			<textarea class="feedback-form-area" name="feedback[]" id="feedback_mes" cols="1" rows="1" placeholder="Сообщение"></textarea>
		</div>

		<div class="feedback-from-right">
			<input class="feedback-form-input" type="text" name="feedback[]" id="feedback_name" placeholder="Имя">

			<input class="feedback-form-input" type="text" name="feedback[]" id="feedback_email" placeholder="Электронная почта">
			<input class="feedback-form-input" type="text" name="feedback[]" id="feedback_phone" placeholder="Телефон">

			<div class="clearfix"><!----></div>

			<input class="page-btn-red" type="submit" value="отправить">
		</div>
	</div>
	<!-- /form -->

	<div class="feedback-qr"><img width="130" height="130" src="img/qr.png" alt="[qr code]" title=""></div>
</div>