<div class="container">
  <hgroup>
    <h2 class="page-section-header"><span class="page-section-header-text">о компании</span></h2>
    <h1 class="page-header">Наша история</h1>
  </hgroup>

  <div class="page-welcome">
    <p>&laquo;ТитанСофт&raquo; – это надежность, качество и настоящая команда профессионалов.</p>
    <p>Индивидуальный подход и 3-х летняя гарантия на любой из видов продукции делают нас одной из ведущих компаний в IT-области в Уральском федеральном округе.</p>
  </div>

  <div class="history-gallery">
    <a class="history-gallery-c11" href="#"><img src="img/content/history-gallery-11.jpg" alt="" title=""></a>
    <a class="history-gallery-c12" href="#"><img src="img/content/history-gallery-12.jpg" alt="" title=""></a>
    <a class="history-gallery-c13" href="#"><img src="img/content/history-gallery-13.jpg" alt="" title=""></a>
    <a class="history-gallery-c14" href="#"><img src="img/content/history-gallery-14.jpg" alt="" title=""></a>
    <a class="history-gallery-c21" href="#"><img src="img/content/history-gallery-21.jpg" alt="" title=""></a>
    <a class="history-gallery-c23" href="#"><img src="img/content/history-gallery-23.jpg" alt="" title=""></a>
    <a class="history-gallery-c31" href="#"><img src="img/content/history-gallery-31.jpg" alt="" title=""></a>
    <a class="history-gallery-c32" href="#"><img src="img/content/history-gallery-32.jpg" alt="" title=""></a>
    <a class="history-gallery-c34" href="#"><img src="img/content/history-gallery-34.jpg" alt="" title=""></a>
  </div>

  <hr class="history-separate">

  <div class="row">
    <div class="span7 history-welcome">
      <p>Совместно со стратегическим отделом Red Keds мы изучаем позиционирование бренда, стратегию его развития, исследуем образ жизни и ценности потребителя, проводим общий анализ бизнеса, конкурентной среды. </p>
      <p>Мы не ограничиваемся созданием симпатичной странички в Facebook и дружественной группы во ВКонтакте. Воплотив идею, мы продолжаем работу, зная, куда течет траффик в социальных сетях, и понимая, как направить его в нужное русло. Мы используем весь арсенал возможностей социальных медиа, оказываем долгосрочную контентную, техническую и PR-поддержку.</p>
    </div>
    <div class="span4 offset1">
      <h3 class="page-slogan"><em>Креативно</em> <em>и эффективно</em> <em>решаем</em> <em>бизнес-задачи</em></h3>
      <a class="history-portfolio" href="#">Скачать портфолио<span class="history-portfolio-info">(PDF, 14Mb)</span></a>
    </div>
  </div>
</div>