<div class="container">
	<hgroup>
		<h2 class="page-section-header"><span class="page-section-header-text">о компании</span></h2>

		<h1 class="page-header">Новости и события</h1>
	</hgroup>

	<div class="row events">
		<div class="span4 event-left">
			<a class="event-link" href="#"><img width="300" height="195" src="http://lorempixel.com/300/195/" alt="[event]" title=""></a>

			<h3 class="event-header">Компания ТитанСофт выступит с докладами на Уральской Интернет Неделе!</h3>
			<span class="event-date">29 февраля</span>
		</div>

		<div class="span4 event-center">
			<a class="event-link" href="#"><img width="300" height="195" src="http://lorempixel.com/300/195/" alt="[event]" title=""></a>

			<h3 class="event-header">&laquo;ТопЭксперт.РФ&raquo; совместно с CMS Magazine запустил масштабное
				исследование &laquo;CMS для SEO&raquo;</h3>
			<span class="event-date">6 февраля</span>
		</div>

		<div class="span4 event-right">
			<a class="event-link" href="#"><img width="300" height="195" src="http://lorempixel.com/300/195/" alt="[event]" title=""></a>

			<h3 class="event-header">На стенде ТитанСофт и Web2win можно будет протестировать Eye-tracking</h3>
			<span class="event-date">18 января</span>
		</div>
	</div>

	<div class="news">
		<ul class="news-years">
			<li class="news-year-item"><a class="news-year-link news-year-link-current" href="#">2012</a></li>
			<li class="news-year-item"><a class="news-year-link" href="#">2011</a></li>
			<li class="news-year-item"><a class="news-year-link" href="#">2010</a></li>
			<li class="news-year-item"><a class="news-year-link" href="#">2009</a></li>
		</ul>

		<div class="row news-item">
			<div class="span1 news-date">29 февраля</div>
			<a href="#" class="span11 news-header">Внимание переезд! Офис "ТитанСофт" переезжает на Тверитина 34/7</a>
		</div>

		<div class="row news-item">
			<div class="span1 news-date">22 сентября</div>
			<a href="#" class="span11 news-header">&laquo;ТопЭксперт.РФ&raquo; совместно с CMS Magazine запустил
				масштабное исследование &laquo;CMS для SEO&raquo;</a>
		</div>

		<div class="row news-item">
			<div class="span1 news-date">1 августа</div>
			<a href="#" class="span11 news-header">Компания ТитанСофт выступит с докладом на конференции "Формула
				сайта", 27 сентября</a>
		</div>

		<div class="row news-item">
			<div class="span1 news-date">20 июля</div>
			<a href="#" class="span11 news-header">Компания ТитанСофт выступит с докладами на Уральской Интернет
				Неделе</a>
		</div>

		<div class="row news-item">
			<div class="span1 news-date">12 июля</div>
			<a href="#" class="span11 news-header">VIII Евро-Азиатский форум &laquo;Связь-ПромЭкспо 2011&raquo;</a>
		</div>

		<div class="row news-item">
			<div class="span1 news-date">07 июня</div>
			<a href="#" class="span11 news-header">14-17 июля ТитанСофт на Иннопроме</a>
		</div>

		<div class="row">
			<div class="span11 offset1">
				<a class="news-link news-link-left" href="#">&nbsp;</a>
				<a class="news-link news-link-right" href="#">&nbsp;</a>
			</div>
		</div>
	</div>

	<div class="page-collapse-btn-wrap">
		<a href="#" class="page-collapse-btn close" data-target=".news">Закрыть</a>
		<a href="#" class="page-collapse-btn open" data-target=".news">Открыть</a>
	</div>
</div>

<div class="news-items-container">
	<div class="title-block"></div>

	<div class="news-close-block">
		<a class="news-close-btn"></a>
	</div>

	<div class="span12" id="news_list">
		<ul class="news-list span12">
			<li>
				<div class="news-item-title-block">
					<p class="news-item-date">4 апреля</p>

					<p class="news-item-title">Герб компании ТитанСофт </p>
				</div>

				<p class="news-preview-text">У компании ТитанСофта появился свой герб.</p>
				<img src="http://lorempixel.com/940/420" alt=""/>

				<div class="news-item-text">
					<p>Мы постарались осмысленно с учетом геральдических принципов подойти к его созданию. Заложив в
						образы те ценности и принципы которыми мы руководствуемся в своей работе. Сразу же нанесли герб
						на футболки, теперь каждый сотрудник нашей сплоченной команды с удовольствием носит сиё
						творение.</p>
				</div>
			</li>
			<li>
				<div class="news-item-title-block">
					<p class="news-item-date">4 апреля</p>

					<p class="news-item-title">Герб компании ТитанСофт </p>
				</div>

				<p class="news-preview-text">У компании ТитанСофта появился свой герб.</p>
				<img src="http://lorempixel.com/940/420" alt=""/>

				<div class="news-item-text">
					<p>Мы постарались осмысленно с учетом геральдических принципов подойти к его созданию. Заложив в
						образы те ценности и принципы которыми мы руководствуемся в своей работе. Сразу же нанесли герб
						на футболки, теперь каждый сотрудник нашей сплоченной команды с удовольствием носит сиё
						творение.</p>
				</div>
			</li>
			<li>
				<div class="news-item-title-block">
					<p class="news-item-date">4 апреля</p>

					<p class="news-item-title">Герб компании ТитанСофт </p>
				</div>

				<p class="news-preview-text">У компании ТитанСофта появился свой герб.</p>
				<img src="http://lorempixel.com/940/420" alt=""/>

				<div class="news-item-text">
					<p>Мы постарались осмысленно с учетом геральдических принципов подойти к его созданию. Заложив в
						образы те ценности и принципы которыми мы руководствуемся в своей работе. Сразу же нанесли герб
						на футболки, теперь каждый сотрудник нашей сплоченной команды с удовольствием носит сиё
						творение.</p>
				</div>
			</li>
		</ul>
	</div>

	<div class="span12 news-pagination">
		<a class="news-link news-link-left" href="#">&nbsp;</a>
		<a class="news-link news-link-right" href="#">&nbsp;</a>
	</div>

</div>