<hgroup>
	<h2 class="page-section-header"><span class="page-section-header-text">Портфолио</span></h2>

	<h1 class="page-header">Последние работы</h1>
</hgroup>

<article class="container portfolio-item">
	<img class="portfolio-image open-portfolio" data-id="1" width="940" height="420" src="img/content/p/img-1.jpg" alt="big picture">

	<div class="row portfolio-item-wrap">
		<div class="span3">
			<a class="portfolio-link ib" href="#">www.sanderestates.com</a>
		</div>
		<div class="span5">
			<h2 class="portfolio-header open-portfolio" data-id="1">Сайт компании «Fiat 500 Abarth»</h2>

			<p class="portfolio-date">08 июня 2012</p>

			<p class="portfolio-description">
				Платежная система «Яндекс-деньги» обзавелась новыми возможностями (и собирается продолжать в том же
				духе). Чтобы пользоваться ими было удобно, потребовалось переделать
			</p>
		</div>
		<div class="span4">
			<a class="portfolio-thumbnail" href="#"><img src="img/content/p/mini-1.png" alt="thumb"></a>
			<a class="portfolio-thumbnail" href="#"><img src="img/content/p/mini-2.png" alt="thumb"></a>
			<a class="portfolio-thumbnail portfolio-thumbnail-current" href="#"><img src="img/content/p/mini-3.png" alt="thumb"></a>
			<a class="portfolio-thumbnail" href="#"><img src="img/content/p/mini-4.png" alt="thumb"></a>
			<a class="portfolio-thumbnail" href="#"><img src="img/content/p/mini-5.png" alt="thumb"></a>
			<a class="portfolio-thumbnail" href="#"><img src="img/content/p/mini-6.png" alt="thumb"></a>
		</div>
	</div>
</article>

<article class="container portfolio-tags clearfix">
	<div class="tags-group clearfix">
		<a href="#" class="active">Все работы</a>
	</div>
	<div class="tags-group clearfix">
		<a href="#">Сайты</a>
		<a href="#">Корпоративные</a>
		<a href="#">Интернет-магазины</a>
		<a href="#">Интерфесы</a>
		<a href="#">Приложения</a>
		<a href="#">Корпоративные</a>
		<a href="#">Интернет-магазины</a>
	</div>
	<div class="tags-group clearfix">
		<a href="#">Интерфесы</a>
		<a href="#">Приложения</a>
		<a href="#">Корпоративные</a>
		<a href="#">Интернет-магазины</a>
		<a href="#">Интерфесы</a>
	</div>
	<div class="tags-group clearfix">
		<a href="#">Приложения</a>
	</div>
</article>

<article class="portfolio-slider container clearfix" id="portfolio-slider">
	<div class="portfolio-slider-panel clearfix">
		<div id="slider"></div>
		<div class="portfolio-controls">
			<a class="portfolio-link portfolio-link-left"></a>
			<a class="portfolio-link portfolio-link-right"></a>
		</div>
	</div>
	<ul class="portfolio-list">
		<li>
			<a href="#" class="open-portfolio" data-id="1"><img src="http://lorempixel.com/300/135/" alt=""></a>

			<p class="portfolio-title open-portfolio" data-id="1">JULIEN LANGENDORFF</p>

			<p class="portfolio-date">08 июля 2012</p>

			<p class="portfolio-preview-text">Catalogue/Book produced for a gallery show held at Wieden + Kennedy
				Amsterdam for Julien Langendorff . Available at The Shop Black Card Cover, Spot UV</p>
			<a href="#" class="portfolio-link">www.sanderestates.com</a>
		</li>
		<li>
			<a href="#" class="open-portfolio" data-id="1"><img src="http://lorempixel.com/300/135/" alt=""></a>

			<p class="portfolio-title open-portfolio" data-id="1">JULIEN LANGENDORFF</p>

			<p class="portfolio-date">08 июля 2012</p>

			<p class="portfolio-preview-text">Catalogue/Book produced for a gallery show held at Wieden + Kennedy
				Amsterdam for Julien Langendorff . Available at The Shop Black Card Cover, Spot UV</p>
			<a href="#" class="portfolio-link">www.sanderestates.com</a>
		</li>
		<li>
			<a href="#" class="open-portfolio" data-id="1"><img src="http://lorempixel.com/300/135/" alt=""></a>

			<p class="portfolio-title open-portfolio" data-id="1">JULIEN LANGENDORFF</p>

			<p class="portfolio-date">08 июля 2012</p>

			<p class="portfolio-preview-text">Catalogue/Book produced for a gallery show held at Wieden + Kennedy
				Amsterdam for Julien Langendorff . Available at The Shop Black Card Cover, Spot UV</p>
			<a href="#" class="portfolio-link">www.sanderestates.com</a>
		</li>
		<li>
			<a href="#" class="open-portfolio" data-id="1"><img src="http://lorempixel.com/300/135/" alt=""></a>

			<p class="portfolio-title open-portfolio" data-id="1">JULIEN LANGENDORFF</p>

			<p class="portfolio-date">08 июля 2012</p>

			<p class="portfolio-preview-text">Catalogue/Book produced for a gallery show held at Wieden + Kennedy
				Amsterdam for Julien Langendorff . Available at The Shop Black Card Cover, Spot UV</p>
			<a href="#" class="portfolio-link">www.sanderestates.com</a>
		</li>
		<li>
			<a href="#" class="open-portfolio" data-id="1"><img src="http://lorempixel.com/300/135/" alt=""></a>

			<p class="portfolio-title open-portfolio" data-id="1">JULIEN LANGENDORFF</p>

			<p class="portfolio-date">08 июля 2012</p>

			<p class="portfolio-preview-text">Catalogue/Book produced for a gallery show held at Wieden + Kennedy
				Amsterdam for Julien Langendorff . Available at The Shop Black Card Cover, Spot UV</p>
			<a href="#" class="portfolio-link">www.sanderestates.com</a>
		</li>
		<li>
			<a href="#" class="open-portfolio" data-id="1"><img src="http://lorempixel.com/300/135/" alt=""></a>

			<p class="portfolio-title open-portfolio" data-id="1">JULIEN LANGENDORFF</p>

			<p class="portfolio-date">08 июля 2012</p>

			<p class="portfolio-preview-text">Catalogue/Book produced for a gallery show held at Wieden + Kennedy
				Amsterdam for Julien Langendorff . Available at The Shop Black Card Cover, Spot UV</p>
			<a href="#" class="portfolio-link">www.sanderestates.com</a>
		</li>
		<li>
			<a href="#" class="open-portfolio" data-id="1"><img src="http://lorempixel.com/300/135/" alt=""></a>

			<p class="portfolio-title open-portfolio" data-id="1">JULIEN LANGENDORFF</p>

			<p class="portfolio-date">08 июля 2012</p>

			<p class="portfolio-preview-text">Catalogue/Book produced for a gallery show held at Wieden + Kennedy
				Amsterdam for Julien Langendorff . Available at The Shop Black Card Cover, Spot UV</p>
			<a href="#" class="portfolio-link">www.sanderestates.com</a>
		</li>
		<li>
			<a href="#" class="open-portfolio" data-id="1"><img src="http://lorempixel.com/300/135/" alt=""></a>

			<p class="portfolio-title open-portfolio" data-id="1">JULIEN LANGENDORFF</p>

			<p class="portfolio-date">08 июля 2012</p>

			<p class="portfolio-preview-text">Catalogue/Book produced for a gallery show held at Wieden + Kennedy
				Amsterdam for Julien Langendorff . Available at The Shop Black Card Cover, Spot UV</p>
			<a href="#" class="portfolio-link">www.sanderestates.com</a>
		</li>
		<li>
			<a href="#" class="open-portfolio" data-id="1"><img src="http://lorempixel.com/300/135/" alt=""></a>

			<p class="portfolio-title open-portfolio" data-id="1">JULIEN LANGENDORFF</p>

			<p class="portfolio-date">08 июля 2012</p>

			<p class="portfolio-preview-text">Catalogue/Book produced for a gallery show held at Wieden + Kennedy
				Amsterdam for Julien Langendorff . Available at The Shop Black Card Cover, Spot UV</p>
			<a href="#" class="portfolio-link">www.sanderestates.com</a>
		</li>
		<li>
			<a href="#" class="open-portfolio" data-id="1"><img src="http://lorempixel.com/300/135/" alt=""></a>

			<p class="portfolio-title open-portfolio" data-id="1">JULIEN LANGENDORFF</p>

			<p class="portfolio-date">08 июля 2012</p>

			<p class="portfolio-preview-text">Catalogue/Book produced for a gallery show held at Wieden + Kennedy
				Amsterdam for Julien Langendorff . Available at The Shop Black Card Cover, Spot UV</p>
			<a href="#" class="portfolio-link">www.sanderestates.com</a>
		</li>
	</ul>
</article>

<div class="portfolio-items-container">
	<div class="portfolio-close-block">
		<a class="portfolio-close-btn"></a>
	</div>

	<div class="portfolio-item-block" data-id="1">
		<div class="portfolio-item-wrapper">
			<p class="page-section-header"><span class="page-section-header-text">Портфолио</span></p>

			<p class="page-header">Центр профессиональных технологий</p>

			<p class="portfolio-date">08 июня 2012</p>
		</div>

		<div class="portfolio-item-gallery-wrapper">
			<div class="portfolio-item-gallery-block">
				<ul class="portfolio-item-gallery">
					<li>
						<img src="http://lorempixel.com/940/420?1" alt=""/>
					</li>
					<li>
						<img src="http://lorempixel.com/940/420?2" alt=""/>
					</li>
					<li>
						<img src="http://lorempixel.com/940/420?3" alt=""/>
					</li>
				</ul>
				<div class="jcarousel-control-block">
					<ul class="jcarousel-control"></ul>
				</div>
			</div>
		</div>
		<div class="portfolio-item-wrapper">

			<div class="portfolio-link-block">
				<a href="" class="portfolio-link">www.sanderestates.com</a>
			</div>

			<div class="portfolio-text span9">
				<p>Компания "Титансофт" разработала сайт для ООО "Прометей", специализацией которой является поставка
					промышленным и строительным организациям бывших в употреблении и реставрированных труб. Благодаря
					широкой сети продаж и большому ассортименту ООО "Прометей" в настоящее время является лидером на
					строительном рынке в данной отрасли по Уральскому региону.</p>

				<p>Стильный дизайн сайта выполнен в металлическом оформлении, имитирующем трубопроводные системы.
					Логотип в
					верхней части сайта сделан с использованием флэш-анимации и переливается огненными цветами. Все
					кнопки
					сайта анимированы и при наведении на них курсором представляют собой сложное изображение
					раскалённого
					железа и искр.</p>
			</div>
		</div>
	</div>
	<div class="portfolio-item-block" data-id="2">
		<div class="portfolio-item-wrapper">
			<p class="page-section-header"><span class="page-section-header-text">Портфолио</span></p>

			<p class="page-header">Центр профессиональных технологий</p>

			<p class="portfolio-date">08 июня 2012</p>
		</div>

		<div class="portfolio-item-gallery-wrapper">
			<div class="portfolio-item-gallery-block">
				<ul class="portfolio-item-gallery">
					<li>
						<img src="http://lorempixel.com/940/420?1" alt=""/>
					</li>
					<li>
						<img src="http://lorempixel.com/940/420?2" alt=""/>
					</li>
					<li>
						<img src="http://lorempixel.com/940/420?3" alt=""/>
					</li>
				</ul>
				<div class="jcarousel-control-block">
					<ul class="jcarousel-control"></ul>
				</div>
			</div>
		</div>
		<div class="portfolio-item-wrapper">

			<div class="portfolio-link-block">
				<a href="" class="portfolio-link">www.sanderestates.com</a>
			</div>

			<div class="portfolio-text span9">
				<p>Компания "Титансофт" разработала сайт для ООО "Прометей", специализацией которой является поставка
					промышленным и строительным организациям бывших в употреблении и реставрированных труб. Благодаря
					широкой сети продаж и большому ассортименту ООО "Прометей" в настоящее время является лидером на
					строительном рынке в данной отрасли по Уральскому региону.</p>

				<p>Стильный дизайн сайта выполнен в металлическом оформлении, имитирующем трубопроводные системы.
					Логотип в
					верхней части сайта сделан с использованием флэш-анимации и переливается огненными цветами. Все
					кнопки
					сайта анимированы и при наведении на них курсором представляют собой сложное изображение
					раскалённого
					железа и искр.</p>
			</div>
		</div>
	</div>
	<div class="portfolio-item-block" data-id="3">
		<div class="portfolio-item-wrapper">
			<p class="page-section-header"><span class="page-section-header-text">Портфолио</span></p>

			<p class="page-header">Центр профессиональных технологий</p>

			<p class="portfolio-date">08 июня 2012</p>
		</div>

		<div class="portfolio-item-gallery-wrapper">
			<div class="portfolio-item-gallery-block">
				<ul class="portfolio-item-gallery">
					<li>
						<img src="http://lorempixel.com/940/420?1" alt=""/>
					</li>
					<li>
						<img src="http://lorempixel.com/940/420?2" alt=""/>
					</li>
					<li>
						<img src="http://lorempixel.com/940/420?3" alt=""/>
					</li>
				</ul>
				<div class="jcarousel-control-block">
					<ul class="jcarousel-control"></ul>
				</div>
			</div>
		</div>
		<div class="portfolio-item-wrapper">

			<div class="portfolio-link-block">
				<a href="" class="portfolio-link">www.sanderestates.com</a>
			</div>

			<div class="portfolio-text span9">
				<p>Компания "Титансофт" разработала сайт для ООО "Прометей", специализацией которой является поставка
					промышленным и строительным организациям бывших в употреблении и реставрированных труб. Благодаря
					широкой сети продаж и большому ассортименту ООО "Прометей" в настоящее время является лидером на
					строительном рынке в данной отрасли по Уральскому региону.</p>

				<p>Стильный дизайн сайта выполнен в металлическом оформлении, имитирующем трубопроводные системы.
					Логотип в
					верхней части сайта сделан с использованием флэш-анимации и переливается огненными цветами. Все
					кнопки
					сайта анимированы и при наведении на них курсором представляют собой сложное изображение
					раскалённого
					железа и искр.</p>
			</div>
		</div>
	</div>
</div>

<footer class="container portfolio-order clearfix">
	<h2 class="portfolio-order-header">Что будете заказывать?</h2>

	<div class="portfolio-order-map">
		<div id="portfolio_map"></div>
	</div>
	<div class="portfolio-order-form">
		<textarea class="portfolio-order-area" name="portfolio[]" id="portfolio_mes" cols="1" rows="1"></textarea>
		<input class="portfolio-order-input" type="text" name="portfolio[]" id="portfolio_name" value="Имя">
		<input class="portfolio-order-input" type="text" name="portfolio[]" id="portfolio_phone" value="Телефон">
		<input class="portfolio-order-input" type="text" name="portfolio[]" id="portfolio_email" value="Электронная почта">
		<input class="page-btn-red" type="submit" value="отправить">
	</div>
</footer>