<div class="container">
	<hgroup>
		<h2 class="page-section-header"><span class="page-section-header-text">о компании</span></h2>

		<h1 class="page-header">Работай вместе с нами</h1>
	</hgroup>

	<div class="page-welcome">
		<p>&laquo;ТитанСофт&raquo; – это надежность, качество и настоящая команда профессионалов.</p>

		<p>Индивидуальный подход и 3-х летняя гарантия на любой из видов продукции делают нас одной из ведущих компаний
			в IT-области в Уральском федеральном округе.</p>
	</div>

	<!--<div class="vacancy-gallery">-->
	<!--<img width="937" height="333" src="img/content/vavancy-img.jpg" alt="">-->
	<!--</div>-->

	<div class="vacancy-welcome">
		<p>Здравствуйте! Мы очень любим получать письма, напишите же нам скорее!</p>

		<p>Мы работаем
			с 2009 года и на данный момент поддерживаем более 50 сайтов и сервисов. С нами постоянно работает 12
			сотрудников — арт-директора, копирайтеры, контент-менеджеры, дизайнеры и программисты. Мы работаем 24
			часа в сутки семь дней в неделю и всегда готовы помогать вашему бизнесу.</p>
	</div>

	<div class="row">
		<div class="span7">
			<p class="vacancy-header-title">Мы ищем вот таких профессионалов</p>
			<article class="vacancy-item">
				<h3 class="vacancy-item-header">Программист PHP, XHTML, CSS, XML</h3>
			</article>
			<article class="vacancy-item">
				<h3 class="vacancy-item-header">Дизайнер сайтов и интерфейсов</h3>
			</article>
			<article class="vacancy-item">
				<h3 class="vacancy-item-header vacancy-item-opened">Проектировщик интерфейсов сайтов и приложений</h3>

				<div class="vacancy-content">
					<h4>Ваши обязанности</h4>
					<ul>
						<li>Создание и прототипов пользовательского интерфейса</li>
						<li>Создание спецификаций интерфейсов пользователя</li>
						<li>Взаимодействие с разработчиками</li>
						<li>Организация usability-тестирования</li>
					</ul>
					<h4>Вы нам подходите, если</h4>
					<ul>
						<li>Опыт проектирования прототипов интерфейсов</li>
						<li>Умение анализировать прототипы интерфейса</li>
						<li>Знание современных подходов к проектированию</li>
						<li>Понимание процессов разработки сайтов</li>
						<li>Умение работать с MS Visio, Axure, Photoshop, InDesign</li>
					</ul>
					<footer class="vacancy-content-footer">
						<p>Вам это подходит?</p>

						<p>Пожалуйста, отправьте резюме с последним портфолио &raquo; <a href="#">career@mail.ru</a></p>

						<p>или задайте вопросы по телефону: +7 (343) 217-80-79</p>
					</footer>
				</div>
			</article>
			<article class="vacancy-item">
				<h3 class="vacancy-item-header">Менеджер в отдел IT продаж</h3>
			</article>
			<article class="vacancy-item">
				<h3 class="vacancy-item-header">Оптимизатор сайтов (SEO)</h3>
			</article>
			<article class="vacancy-item">
				<h3 class="vacancy-item-header">Руководитель проектов</h3>
			</article>
		</div>
		<div class="span4 offset1">
			<h3 class="page-slogan"><em>Хотите</em> <em>работать</em> <em>с нами?</em></h3>

			<div class="vacancy-form">
				<input class="vacancy-form-input" type="text" name="name" value="Имя">
				<input class="vacancy-form-input" type="text" name="name" value="Телефон">
				<input class="vacancy-form-input" type="text" name="name" value="Электронная почта">
				<select class="vacancy-form-input" name="job">
					<option value="1">Программист PHP, XHTML, CSS, XML</option>
					<option value="1">Дизайнер сайтов и интерфейсов</option>
					<option value="1">Проектировщик интерфейсов сайтов и приложений</option>
					<option value="1">Менеджер в отдел IT продаж</option>
					<option value="1">Оптимизатор сайтов (SEO)</option>
					<option value="1">Руководитель проектов</option>
				</select>
				<input class="page-btn-blue" type="submit" value="отправить">
			</div>
		</div>
	</div>
</div>